@model Product

<div class="form-group">
    <label asp-for="ProductName" class="col-form-label"></label>
    <input type="text" class="form-control" asp-for="ProductName" readonly></input>
</div>

<div class="form-group">
    <label asp-for="Price" class="col-form-label"></label>
    <input type="text" class="form-control" id="price" value="@(string.Format("{0:c}", Model.Price))" readonly></input>
</div>
