<html>
<head>
    Welcome to the Categories page!
</head>
<body>
    <ul>
        <li>
            <a href=/categories/edit/1>Beverages</a>
        </li>
        <li>
            <a href=/categories/edit/2>Meat</a>
        </li>
    </ul>
</body>
</html>

