@model ProductViewModel

@{
    string actionName = ViewBag.ActionName;
}

<form method="post" asp-controller="products" asp-action="@actionName">

    @if (actionName?.ToLower() == "edit")
    {
        <input type="hidden" asp-for="Product.ProductID" />
    }

    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Product.CategoryID" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <select asp-for="Product.CategoryID" class="form-control">
                <option>-  Please Select  -</option>
                @if (Model.Categories != null && Model.Categories.Count() > 0)
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.CategoryID">@cat.Name</option>
                    }
            </select>
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Product.CategoryID"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Product.ProductName" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Product.ProductName" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Product.ProductName"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Product.Price" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="Product.Price" class="form-control" step="any" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Product.Price"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Product.Quantity" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="Product.Quantity" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Product.Quantity"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
</form>