@model Product

<form method="post">
    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="ProductName" class="col-form-label"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="ProductName"></input>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Price" class="col-form-label"></label>
        </div>
        <div class="col-3">
            <input type="text" class="form-control" asp-for="Price"></input>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label asp-for="Quantity" class="col-form-label"></label>
        </div>
        <div class="col-3">
            <input type="text" class="form-control" asp-for="Price"></input>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>
