<html>
    <head>
        <b>Welcome to my Homepage</b><br/>
    </head>
    <body>
        This is the default homepage!<br />
        Navigate to: <a href = "/categories/index">Categories</a>
    </body>
</html>
